@use './variables' as *;

.gridstack {
  &__item {
    position: absolute;
    box-sizing: content-box;
    border: $border-width-1 solid $border;
    border-radius: $radius;
    background-color: $background;
  }
}
